<h1>SEMÁFORO DE SEGUIMIENTO DE ATENCIÓN</h1>
<h4 class="text-muted">{{user.data.area.area}}</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center" rowspan="2">
        Departamento
      </th>
      <th colspan="3" class="text-center">
        Días transcurridos / Número de documentos pendientes
      </th>
      <th class="text-center" rowspan="2">
        Total
      </th>
    </tr>
    <tr class="text-center">

      <th class="text-center">
        <h4><span class="label label-success">0 a 20 días</span></h4>
      </th>
      <th class="text-center">
        <h4><span class="label label-warning">21 a 30 días</span></h4>
      </th>
      <th class="text-center">
        <h4><span class="label label-danger">Más de 31 días</span></h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td>
        TI
      </td>
      <td>
        0
      </td>
      <td>
        0
      </td>
      <td>
        0
      </td>
      <td>
        0
      </td>
    </tr>
  </tbody>
</table>
